*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0%;
    background-color: var(--background-color);
}
h1{
    padding: 0%;
    margin: 0%;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    background-color: var(--topbar-background-color);

    .topbar-logo{
        height: var(--topbar-size-height);
        .topbar-logo-img{
            height: 100%;
        }
    }
    .topbar-items{
        align-items: center;
        display: flex !important;
        .topbar-items-buttons{
            height: var(--topbar-size-height);
            width: var(--topbar-size-width);
            background-color: transparent;
            position: relative;
            cursor: pointer;
            transition: transform 300ms ease-in-out;
            z-index: 1;
            border: none;
            padding: 0%;
        }
        .topbar-items-buttons::before{
            z-index: -1;
            position: absolute;
            content: '';
            background-color: var(--topbar-button-color);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 300ms ease-in-out;
        }
        .topbar-items-buttons:hover::before{
            transform: scaleX(1);
            transform-origin: left;
        }
        .topbar-items-buttons:hover{
            color: white;
            background-color: var(--topbar-background-color);
            transform: scaleX(1);
        }
    }
}